body, html {
    padding: 0;
    margin: 0;
}
code#code-formatted {
    box-sizing: border-box;
    display: table-cell;
    font-size: 4em;
    height: 1350px;
    max-height: 1350px;
    max-width: 1080px;
    overflow: hidden;
    padding: 1em;
    vertical-align: middle;
    width: 1080px;
}
pre {
    display: inline-block;
    height: 1350px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 1080px;
    zoom: 0.6;
}
div.controls {
    display: inline-block;
    position: fixed;
    left: 700px;
    top: 20px;
}
div.controls textarea {
    display: block;
    height: 200px;
    margin: 10px 0;
    width: 500px;
}
div.controls button {
    float: right;
}
textarea#code-input {
    border: 1px solid #444;
}
button#image-download {
    border: 1px solid #444;
    padding: 5px;
}
select#select-language,
select#select-image-size {
    border: 1px solid #444;
    padding: 5px;
}